.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    max-height: 800px;
}

.hero canvas {
    max-width: 100% !important;
}

.content {
    padding: 10px 20px;
}

.content h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.25rem;
    line-height: 150%; /* 30px */
}

.expHeading h3 {
    font-size: 1.25rem;
    margin: 0;
    line-height: 150%; /* 30px */
    color: var(--hero-title);
}

.expHeading p {
    font-size: 1.25rem;
    margin: 0;
    line-height: 150%; /* 30px */
}

.expHeading span {
    font-size: 1rem;
    line-height: 150%; /* 30px */
    color: var(--primary);
}

.expList {
    font-size: 1.25rem;
    line-height: 150%; /* 30px */
}

.expList h4 {
    font-size: 1.25rem;
    margin: 0;
    line-height: 150%; /* 30px */
}

.expList p {
    font-size: 1.25rem;
    margin: 0;
    line-height: 150%; /* 30px */
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0px;
}

.technologies span {
    /* chips */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--primary);
    background-color: var(--background);
    font-size: 1rem;
    line-height: 150%; /* 30px */
    border: 2px solid var(--primary);
}

.sidescroller {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 80px;
}

.sidescrollerContent {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 90s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }

}

@media (max-width: 768px) {
    .section {
        grid-template-columns: 1fr;
    }

    .hero {
        height: 250px;
        order: -1;
    }
}

/*prefers reduced motion*/

@media (prefers-reduced-motion: reduce) {
    .container {
        margin-top: 50px;
    }
}